body, html {
  font-size: 16px;
  width: 100%;
  margin: auto;
  font-family: "Helvetica";
  font-weight: 400;
  color: rgb(70, 70, 70);
}

body {
  font-size: 18px;
}

h1, h2, h3 {
  font-family: "Lato";
}

a {
  text-decoration: none;
  color: rgb(11, 86, 227);
  font-weight: bold;
}

.flex {
  display: flex;
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.image-container {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
}

.image-container img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  overflow: auto;
}

.video-container {
  display: inline-block;
}

.video-container video {
  display: block;
  margin: auto;
  width: 100%;
}

.image-container img.mobile {
  display: none;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
}


/* Header section */
header {
  justify-content: space-between;
  border-bottom: 1px;
  height: 4rem;
  padding: 0 1.5rem;
}

header .logo {
  font-size: 1.5rem;
}

.logo img {
  height: 3rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav span {
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
}

nav.mobile  {
  display: none;
}

@media only screen and (max-width: 700px) {

  header .logo {
    display: none;
    padding: 0;
  }

  nav.mobile  {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  nav.desktop {
    display: none;
  }

  nav span img {
    height: 1.75rem;
  }

  nav span:first-child img {
    height: 2rem;
  }
}

/* Banner section */
.banner .image-container {
  flex: 3;
}

.banner .content {
  flex: 2;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  margin: 0.5rem 0;
}

.banner h1 {
  margin-bottom: 1rem;
}

.banner p {
  margin: 0.75rem 0;
  width: 70%;
}

.banner .button {
  text-align: center;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
  background-color: rgb(70, 70, 70);
}

#start {
  font-size: 1.5rem;
}

.banner .button:hover, nav span:hover {
  background-color: rgb(200, 200, 200);
  color: rgb(70, 70, 70);
  transition: 300ms 100ms;
  cursor: pointer;
}

.banner .button:active, nav span:active {
  background-color: rgb(70, 70, 70);
  transition: 200ms;
}

@media only screen and (max-width: 650px) {

  .banner .image-container {
    display: none;
  }

  .banner .content {
    padding: 0 1rem;
    width: calc(100% - 2rem);
  }

  .banner .button {
    max-width: 275px;
  }
}
